on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Create pull request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: ${{ github.head_ref || github.ref_name }}
      run: |
        PR_URL="$(gh pr list --head "${BRANCH}" --state open --json url --jq .[].url)"
        if [[ -n "${PR_URL}" ]]; then
            echo "PR already exists: ${PR_URL}"
            exit 0
        else
            gh pr create -B main -H "$BRANCH" --fill --reviewer tshakah
        fi
